<p-dialog header="Scrape Demo" [(visible)]="showAbout" [style]="{width: '50vw'}" [maximizable]="false"
  [draggable]="true" [resizable]="false">
  <p>In deze scrape demo wordt duidelijk hoe verschillende bronnen van data eenvoudig kunnen worden gecombineerd in een
    eenvoudige interface</p>
  <p>Met een enkele zoekterm kan worden gezocht in de data van de nu 4 geconfigureerde websites, maar dit kan eenvoudig
    worden uitgebreid</p>
  <p>Dit framework ondersteunt momenteel invoer in HTML (een website), XML of JSON endpoints van een API</p>

  <div class="flex align-items-center justify-content-center">
    <div class="flex mt-6">
      <p-card header="Voorbeeld" [style]="{'width': '25rem', 'margin-bottom': '2em', 'background-color':'#e1e1e1'}">
        Om deze tool te testen kunt u bijvoorbeeld eens zoeken naar <b>Led</b> op Allekabels en partsnl.nl
        <p>Vervolgens kunt u binnen de gevonden resultaten nog zoeken in de titel, bijvoorbeeld naar <b>spot</b>, om zo
          de
          verschillende spot-lampen op de verschillende websites te vinden</p>
      </p-card>
    </div>
  </div>

  <div class="p-2"><button pButton label="Sluiten" (click)="da()"></button></div>
</p-dialog>
<div class="min-h-screen flex flex-column surface-ground">
  <div class="surface-overlay py-3 px-6 flex align-items-center justify-content-between relative lg:static"
    style="min-height: 80px; cursor: pointer" (click)="navHome()">
    <i class="pi pi-database" style="font-size: 2rem; color: #440040"></i><span class="title">Scrape IO</span>
    <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
      leaveToClass="hidden">
      <i class="pi pi-bars text-4xl"></i>
    </a>
    <div
      class="align-items-center flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none">
      <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
        <li>
          <a pRipple
            class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
            (click)="navigate('/')">
          </a>
        </li>
        <li>
          <div class="p-2"><button pButton label="Over deze demo" (click)="da()"></button></div>
        </li>
      </ul>

    </div>
  </div>

  <div class="p-5 flex flex-column flex-auto">
    <div class="border-2 surface-border border-round surface-section flex-auto p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>