<div class="flex flex-column">
    <div class="flex justify-content-center">
        <div class="flex p-5">
            <app-searchbar (onResults)="receivedResults($event)" (onReceivedSettings)="receivedSettings($event)"
                (onHeadersChanged)="receivedHeaders($event)" #searchBar></app-searchbar>
        </div>

    </div>
    <div class="flex flex-row">
        <div class="flex w-90 p-2">
            <app-sources (onChange)="sourcesChanged($event)" (doSearch)="sendSearchToSearchBar($event)"></app-sources>
        </div>
        <div class="flex p-2">
            <app-results [results]="results" [headers]="headers" [settings]="resultSettings"></app-results>
        </div>
    </div>